@font-face{
    font-family:Aldrich;
    src:local('Aldrich'),local('Aldrich-Regular'),url(https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/ce9144a9/Starfinder%20Sheet%20Fonts/Aldrich-Regular.ttf);
}
* {
    font-family:Aldrich,Copperplate,Monospace;
}
.sheet-container{
    display:none;
}
.sheet-pc:checked ~ .sheet-pc,
.sheet-npc:checked ~ .sheet-npc,
.sheet-ship:checked ~ .sheet-ship,
.sheet-settings:checked ~ .sheet-settings{
    display:grid;
}
.sheet-tab-button + span,
.sheet-initiative-container button,
.sheet-label,
button {
    font-family:Aldrich,Copperplate,Monospace;
    font-weight:400 !important;
}
input[hidden='true'] {
    display:none !important;
}
input:not([type='checkbox']):not([type=radio]), {
    height:15px;
}
input:not([type='checkbox']):not([type=radio]),
textarea {
    border-bottom: 1px solid #D3D3D3;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow:none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    font-size:10pt;
    padding:0px;
}
select {
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding:0px 0px 0px 0px;
    color: black;
    position:relative;
    top:-5px;
    width:4em;
    font-size:7pt;
    font-weight:bold;
    text-align:center;
    height:20px !important;
    margin:0px !important;
    padding:0px !important;
    text-align-last:center;
}
button[type=roll],
label{
    background-color: transparent;
    color: black;
    border: none;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align:left;
    position:relative;
    text-shadow:0px 0px 10px #49f5ff,0px 0px 20px #6bf7ff;
    color:#333398;
}
button[type=roll]::before
{
    content: "" !important;
}
button[type=roll]:hover,
button[type=roll]:hover *,
button[type=roll]:hover input[type=text],
label:hover{
    color: #ff9335;
    text-shadow:0px 0px 10px #f86f1a,0px 0px 20px #fc6507;
}
.sheet-label,
.sheet-mod,
button[type=roll] {
    font-weight:bold;
    font-size:8pt !important;
}
.sheet-mod{
    border-bottom:0px !important;
    text-align:center !important;
}
.sheet-section {
    position:absolute;
    top:-17px;
    left:-1px;
    background-image:url('https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/533e5c9f/Selected%20Starfinder%20Header.png');
    background-repeat: no-repeat;
    background-size:140px;
    color:white;
    text-align:left;
    text-indent:10px;
    width:150px;
    font-size:10pt !important;
    line-height:12pt;
    z-index:10;
    text-shadow:0px 0px 5px #550aa2,0px 0px 20px #0a4ba1;
}
.sheet-starfinder {
    display:grid;
    grid-template-columns:[name-container-start pc-start settings-start] 160px [name-container-end nav-start]240px [nav-end] 380px[pc-end settings-end];
    grid-template-rows:[name-container-start nav-start] 40px [name-container-end settings-start nav-end pc-start]120px 0px 1090px[pc-end settings-end];
    grid-gap:20px;
}
.sheet-name-container {
    display:inline-block;
    grid-area:name-container;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
.sheet-nav{
    grid-area:nav;
    width:100%;
    height:100%;
    position:relative;
}
.sheet-pc {
    grid-area:pc;
    position:relative;
    grid-template-columns: [name-container-start tab-container-start header-start]160px [name-container-end ] 280px [header-end] 20px [in-play-start] 380px [in-play-end tab-container-end];
    grid-template-rows: [header-start in-play-start] 120px [header-end in-play-end] 40px [tab-container-start]  1090px [tab-container-end];
}
.sheet-settings{
    grid-area:settings;
    grid-template-columns:270px 270px 270px;
    grid-auto-flow:column;
    grid-column-gap:20px;
    grid-row-gap:40px;
    align-items:start;
}
.sheet-npc{
    grid-area:settings;
}
.sheet-starship{
    grid-area:settings;
}
.sheet-name-container .sheet-section {
    position:initial !important;
}
.sheet-section-container > .sheet-row{
    width:100%;
    padding:0px 5px 0px 5px;
    display:grid;
    grid-auto-flow:column;
    grid-column-gap:5px;
}
.sheet-buff-stack{
    min-width:100%;
    max-width:100%;
    height:1em;
    min-height:1em;
}
.sheet-char-info span,
.sheet-class-info span{
    display: block;
    font-size: 9px;
    line-height: 12px;
}
.sheet-header-content {
    grid-area:header;
    width:100%;
    height:100%;
    position:relative;
    padding:0px;
    margin:0px;
}
.sheet-char-info-content{
    width:435px;
    margin:0px 0px 0px 5px;
    display: inline-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
}
.sheet-header-content,
.sheet-buffs,
.sheet-menus {
    display:none;
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}/*
.sheet-header-content {
    width:396px;
}*/
.sheet-buffs,
.sheet-menus {
    width: 376px;
}
.sheet-in-play {
    grid-area:in-play;
    position:relative;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
input[type=radio].sheet-in-play-tab.sheet-menu-tab:checked ~ .sheet-menus {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction:column;
}
input[type=radio].sheet-in-play-tab.sheet-buff-tab:checked ~ .sheet-buffs{
    display:block;
}
.sheet-buff-head,
.sheet-menu-head,
.sheet-char-details,
.sheet-class-details,
.sheet-caster-details{
    background-image:url('https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/533e5c9f/UnSelected%20Starfinder%20Header.png');
    z-index:1;
    top:-12px!important;
    
}
.sheet-menu-head,
.sheet-char-details {
    left:1px!important;
}
.sheet-header-content,
.sheet-buffs,
.sheet-menus,
.sheet-section-container{
    border:0px solid transparent;
    border-radius:0px 15px 15px;
    box-shadow:0px 0px 5px #550aa2,0px 0px 20px #0a4ba1;
    margin-top:5px;
    padding:5px 0px;
}
.sheet-buff-head,
.sheet-class-details {
    position:absolute;
    left:135px;
}
.sheet-class-details * {
    margin-right:10px;
}
.sheet-in-play-tab,
.sheet-char-tab{
    opacity:0;
    z-index:10;
    position:absolute;
    top:-8px!important;
}
.sheet-char-tab,
.sheet-char-details,
.sheet-class-tab,
.sheet-class-details,
.sheet-caster-details{
    grid-area:header;
}
.sheet-in-play-tab,
.sheet-menu-head,
.sheet-buff-head{
    grid-area:in-play;
}
.sheet-menu-tab {
    position:absolute;
    top:10px;
    width:145px;
}
.sheet-buff-tab {
    left:145px;
    width:145px;
}
.sheet-char-details-tab {
    position:absolute;
    top:10px;
    width:145px;
}
.sheet-class-details-tab {
    width:145px;
    left:145px;
}
.sheet-caster-details-tab,
.sheet-caster-details{
    width:145px;
    left:270px;
}
input[type=radio].sheet-in-play-tab:checked + h1,
input[type=radio].sheet-char-tab:checked + h1 {
    background-image:url('https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/533e5c9f/Selected%20Starfinder%20Header.png');
    z-index:2;
}
.sheet-description {
    position:relative;
    top:5px;
    max-width:100%;
    height:5.5em;
}
.sheet-caster-details-tab,
.sheet-caster-details {
    display:none;
}
input[type=radio].sheet-is-caster:checked ~ .sheet-caster-details-tab,
input[type=radio].sheet-is-caster:checked ~ .sheet-caster-details{
    display:block;
}

input[type=radio].sheet-is-caster:checked ~ .sheet-caster-nav,
input[type=radio].sheet-is-not-caster:checked ~ .sheet-non-caster-nav{
    display:initial;
}
input[type=radio].sheet-char-tab.sheet-char-details-tab:checked ~ .sheet-char-info {
    display:block;
    width:inherit;
}
input[type=radio].sheet-char-tab.sheet-class-details-tab:checked ~ .sheet-class-info {
    display:grid;
    grid-template-columns:100px 20px repeat(2,10px) 20px repeat(3,30px) 30px 20px 30px;
    grid-column-gap:10px;
    justify-content:center;
    align-items:center;
    justify-items:center;
}
input[type=radio].sheet-char-tab.sheet-caster-details-tab:checked ~ .sheet-caster-info {
    display:block;
}
.sheet-class-info * {
    width:100%;
    height:100%;
}
.sheet-hlabel-container {
    display: inline-block;
    margin-right:5px;
    padding:0px;
}
.sheet-hlabel-container select {
    padding:-5px;
    margin:0px;
    position:relative;
    top:-1px;
}
.sheet-char-name{
    width:180px !important;
}
.sheet-class-level {
    width:180px !important;
}
.sheet-player,
.sheet-home-world {
    width:100px !important;
}
.sheet-theme,
.sheet-deity{
    width:115px !important;
}
.sheet-alignment,
.sheet-race,
.sheet-size {
    width:77px !important;
}
.sheet-speed {
    width:60px !important;
}
.sheet-race-hp {
    width:15px !important;
    text-align:center;
}
.sheet-gender {
    width:60px !important;
}
.sheet-menus button[type=roll] {
    position:relative;
    top:0px;
}
.sheet-language {
    width:265px;
}
.sheet-class-info span {
    text-align:center;
}
input.sheet-class-skills,
input.sheet-class-num-level{
    text-align:center;
}
.sheet-spell-button-container{
    width:100%;
}
.sheet-spellclass-container {
    display:none;
    width:271px !important;
    min-width:271px !important;
    max-width:271px !important;
    height:125px;
    margin-left:5px;
    grid-template-columns:15px 5px 50px 5px 30px 5px 20px 5px 13px 20px 5px 20px 5px 13px 20px 5px 20px;
    grid-template-rows:5px 15px 15px 5px 15px 5px 10px 5px 5px 15px 5px 5px 10px;
    grid-template-areas:'........... ........... ........... .... .................. .................. .................. . ............. ............... ............. ........... ..... ........... ............. ........... .........'
                        '........... ........... ........... .... .................. .................. .................. . label         label           label         label       label label       label         label       label'
                        'checkbox    ........... name        name name               .................. level              . cantrip-label cantrip-current cantrip-slash cantrip-max ..... one-label   one-current   one-slash   one-max'
                        '........... ........... ........... .... .................. .................. .................. . ............. ............... ............. ........... ..... ........... ............. ........... .........'
                        'casting     casting     casting     .... ability            ability            ability            . two-label     two-current     two-slash     two-max     ..... three-label three-current three-slash three-max'
                        'casting     casting     casting     .... ability            ability            ability            . ............. ............... ............. .........   ..... ........... ............. ........... .........'
                        'casting     casting     casting     .... ability            ability            ability            . four-label    four-current    four-slash    four-max    ..... five-label  five-current  five-slash  five-max'
                        '........... ........... ........... .... .................. .................. .................. . four-label    four-current    four-slash    four-max    ..... five-label  five-current  five-slash  five-max'
                        'progression progression progression .... progression-select progression-select progression-select . ............. ............... ............. .........   ..... ........... ............. ........... .........'
                        'progression progression progression .... progression-select progression-select progression-select . six-label     six-current     six-slash     six-max     ..... seven-label seven-current seven-slash seven-max'
                        'progression progression progression .... progression-select progression-select progression-select . ............. ............... ............. .........   ..... ........... ............. ........... .........'
                        'progression progression progression .... progression-select progression-select progression-select . eight-label   eight-current   eight-slash   eight-max   ..... nine-label  nine-current  nine-slash  nine-max'
                        '........... ........... ........... .... .................. .................. .................. . eight-label   eight-current   eight-slash   eight-max   ..... nine-label  nine-current  nine-slash  nine-max';
    justify-content:start;
    align-items:center;
    justify-items:stretch !important;
    border:0px transparent;
    border-radius:5px;
    box-shadow:0px 0px 5px #2dafeb,0px 0px 20px #0a4ba1;
}
.sheet-spellclass-container .sheet-class-show{
    grid-area:checkbox;
}
.sheet-spellclass-container .sheet-class-name{
    grid-area:name;
    text-align:center;
}
.sheet-spellclass-container .sheet-class-num-level{
    grid-area:level;
    text-align:center;
}
.sheet-spellclass-container .sheet-casting-ability{
    grid-area:casting;
    text-align:center;
}
.sheet-spellclass-container .sheet-class-ability{
    grid-area:ability;
}
.sheet-spellclass-container .sheet-spell-progression{
    grid-area:progression;
    text-align:center;
}
.sheet-spellclass-container .sheet-class-spell-progression{
    grid-area:progression-select;
}
.sheet-label.sheet-daily{
    grid-area:label;
    text-align:center;
    width:100%;
}
.sheet-num.sheet-aspell0{
    grid-area:cantrip-label;
}
.sheet-current.sheet-aspell0{
    grid-area:cantrip-current;
}
.sheet-slash.sheet-aspell0{
    grid-area:cantrip-slash;
}
.sheet-max.sheet-aspell0{
    grid-area:cantrip-max;
}
.sheet-num.sheet-aspell1{
    grid-area:one-label;
}
.sheet-current.sheet-aspell1{
    grid-area:one-current;
}
.sheet-slash.sheet-aspell1{
    grid-area:one-slash;
}
.sheet-max.sheet-aspell1{
    grid-area:one-max;
}
.sheet-num.sheet-aspell2{
    grid-area:two-label;
}
.sheet-current.sheet-aspell2{
    grid-area:two-current;
}
.sheet-slash.sheet-aspell2{
    grid-area:two-slash;
}
.sheet-max.sheet-aspell2{
    grid-area:two-max;
}
.sheet-num.sheet-aspell3{
    grid-area:three-label;
}
.sheet-current.sheet-aspell3{
    grid-area:three-current;
}
.sheet-slash.sheet-aspell3{
    grid-area:three-slash;
}
.sheet-max.sheet-aspell3{
    grid-area:three-max;
}
.sheet-num.sheet-aspell4{
    grid-area:four-label;
}
.sheet-current.sheet-aspell4{
    grid-area:four-current;
}
.sheet-slash.sheet-aspell4{
    grid-area:four-slash;
}
.sheet-max.sheet-aspell4{
    grid-area:four-max;
}
.sheet-num.sheet-aspell5{
    grid-area:five-label;
}
.sheet-current.sheet-aspell5{
    grid-area:five-current;
}
.sheet-slash.sheet-aspell5{
    grid-area:five-slash;
}
.sheet-max.sheet-aspell5{
    grid-area:five-max;
}
.sheet-num.sheet-aspell6{
    grid-area:six-label;
}
.sheet-current.sheet-aspell6{
    grid-area:six-current;
}
.sheet-slash.sheet-aspell6{
    grid-area:six-slash;
}
.sheet-max.sheet-aspell6{
    grid-area:six-max;
}
.sheet-num.sheet-aspell7{
    grid-area:seven-label;
}
.sheet-current.sheet-aspell7{
    grid-area:seven-current;
}
.sheet-slash.sheet-aspell7{
    grid-area:seven-slash;
}
.sheet-max.sheet-aspell7{
    grid-area:seven-max;
}
.sheet-num.sheet-aspell8{
    grid-area:eight-label;
}
.sheet-current.sheet-aspell8{
    grid-area:eight-current;
}
.sheet-slash.sheet-aspell8{
    grid-area:eight-slash;
}
.sheet-max.sheet-aspell8{
    grid-area:eight-max;
}
.sheet-num.sheet-aspell9{
    grid-area:nine-label;
}
.sheet-current.sheet-aspell9{
    grid-area:nine-current;
}
.sheet-slash.sheet-aspell9{
    grid-area:nine-slash;
}
.sheet-max.sheet-aspell9{
    grid-area:nine-max;
}
.sheet-spell-header{
    width:260px;
    display:grid;
    grid-template-columns:95px 60px 95px;
    grid-gap:5px;
}
.sheet-spell-header span{
    background-color:#333398;
    color:white;
    text-align:center;
}
.sheet-spell.sheet-filter-container{
    width:260px;
}
.repcontainer[data-groupname='repeating_spell']>.repitem{
    padding: 0px;
    margin: 0px;
    border: none;
	border-radius:;
	overflow:hidden;
}
.repcontrol[data-groupname='repeating_spell']{
    width:260px;
    position:relative;
}
.repcontrol[data-groupname='repeating_spell'] .btn:after{
    position:relative;
    left:-7px;
    top:0px;
    z-index:20;
}
.repcontrol[data-groupname='repeating_spell'] .repcontrol_add{
    display:none !important;
}
.sheet-pseudo-repcontrol{
    position:relative;
}
.sheet-pseudo-repcontrol input{
    position:absolute;
    opacity:0;
    z-index:20;
}
.sheet-pseudo-repcontrol input,
.sheet-pseudo-repcontrol span{
    width:20px;
    height:29px;
    text-align:center;
    top:-27px;
    background-color:;
}
.sheet-pseudo-repcontrol input:checked + span{
    background-color:black;
    color:white;
}
.sheet-pseudo-repcontrol.sheet-spell{
    width:260px;
}
.sheet-spellclass-container .sheet-class-name,
.sheet-spellclass-container .sheet-class-num-level,
.sheet-spellclass-container .sheet-class-ability,
.sheet-spellclass-container .sheet-class-spell-progression{
    width:100%;
}
input[type=checkbox].sheet-class-spells:checked + .sheet-spellclass-container,
.sheet-spellclass-label-container{
    display:grid;
}
input[type=checkbox].sheet-class-spells + button{
    display:none;
}
input[type=checkbox].sheet-class-spells:checked + button{
    display:inline;
}
input.sheet-class-spells{
    width:initial;
}
.sheet-class-spells-day{
    width:100%;
    display:none !important;
}
span.sheet-class-spells-day,
input.sheet-class-spells-day{
    text-align:center;
}
div.sheet-aspell0,
.sheet-spell1:checked ~ div.sheet-aspell1,
.sheet-spell2:checked ~ div.sheet-aspell1,
.sheet-spell2:checked ~ div.sheet-aspell2,
.sheet-spell3:checked ~ div.sheet-aspell1,
.sheet-spell3:checked ~ div.sheet-aspell2,
.sheet-spell3:checked ~ div.sheet-aspell3,
.sheet-spell4:checked ~ div.sheet-aspell1,
.sheet-spell4:checked ~ div.sheet-aspell2,
.sheet-spell4:checked ~ div.sheet-aspell3,
.sheet-spell4:checked ~ div.sheet-aspell4,
.sheet-spell5:checked ~ div.sheet-aspell1,
.sheet-spell5:checked ~ div.sheet-aspell2,
.sheet-spell5:checked ~ div.sheet-aspell3,
.sheet-spell5:checked ~ div.sheet-aspell4,
.sheet-spell5:checked ~ div.sheet-aspell5,
.sheet-spell6:checked ~ div.sheet-aspell1,
.sheet-spell6:checked ~ div.sheet-aspell2,
.sheet-spell6:checked ~ div.sheet-aspell3,
.sheet-spell6:checked ~ div.sheet-aspell4,
.sheet-spell6:checked ~ div.sheet-aspell5,
.sheet-spell6:checked ~ div.sheet-aspell6,
.sheet-spell7:checked ~ div.sheet-aspell1,
.sheet-spell7:checked ~ div.sheet-aspell2,
.sheet-spell7:checked ~ div.sheet-aspell3,
.sheet-spell7:checked ~ div.sheet-aspell4,
.sheet-spell7:checked ~ div.sheet-aspell5,
.sheet-spell7:checked ~ div.sheet-aspell6,
.sheet-spell7:checked ~ div.sheet-aspell7,
.sheet-spell8:checked ~ div.sheet-aspell1,
.sheet-spell8:checked ~ div.sheet-aspell2,
.sheet-spell8:checked ~ div.sheet-aspell3,
.sheet-spell8:checked ~ div.sheet-aspell4,
.sheet-spell8:checked ~ div.sheet-aspell5,
.sheet-spell8:checked ~ div.sheet-aspell6,
.sheet-spell8:checked ~ div.sheet-aspell7,
.sheet-spell8:checked ~ div.sheet-aspell8,
.sheet-spell9:checked ~ div.sheet-aspell1,
.sheet-spell9:checked ~ div.sheet-aspell2,
.sheet-spell9:checked ~ div.sheet-aspell3,
.sheet-spell9:checked ~ div.sheet-aspell4,
.sheet-spell9:checked ~ div.sheet-aspell5,
.sheet-spell9:checked ~ div.sheet-aspell6,
.sheet-spell9:checked ~ div.sheet-aspell7,
.sheet-spell9:checked ~ div.sheet-aspell8,
.sheet-spell9:checked ~ div.sheet-aspell9{
    display:flex !important;
    justify-content:center !important;
}
.sheet-spell1:checked ~ span.sheet-aspell1,
.sheet-spell2:checked ~ span.sheet-aspell1,
.sheet-spell2:checked ~ span.sheet-aspell2,
.sheet-spell3:checked ~ span.sheet-aspell1,
.sheet-spell3:checked ~ span.sheet-aspell2,
.sheet-spell3:checked ~ span.sheet-aspell3,
.sheet-spell4:checked ~ span.sheet-aspell1,
.sheet-spell4:checked ~ span.sheet-aspell2,
.sheet-spell4:checked ~ span.sheet-aspell3,
.sheet-spell4:checked ~ span.sheet-aspell4,
.sheet-spell5:checked ~ span.sheet-aspell1,
.sheet-spell5:checked ~ span.sheet-aspell2,
.sheet-spell5:checked ~ span.sheet-aspell3,
.sheet-spell5:checked ~ span.sheet-aspell4,
.sheet-spell5:checked ~ span.sheet-aspell5,
.sheet-spell6:checked ~ span.sheet-aspell1,
.sheet-spell6:checked ~ span.sheet-aspell2,
.sheet-spell6:checked ~ span.sheet-aspell3,
.sheet-spell6:checked ~ span.sheet-aspell4,
.sheet-spell6:checked ~ span.sheet-aspell5,
.sheet-spell6:checked ~ span.sheet-aspell6,
.sheet-spell7:checked ~ span.sheet-aspell1,
.sheet-spell7:checked ~ span.sheet-aspell2,
.sheet-spell7:checked ~ span.sheet-aspell3,
.sheet-spell7:checked ~ span.sheet-aspell4,
.sheet-spell7:checked ~ span.sheet-aspell5,
.sheet-spell7:checked ~ span.sheet-aspell6,
.sheet-spell7:checked ~ span.sheet-aspell7,
.sheet-spell8:checked ~ span.sheet-aspell1,
.sheet-spell8:checked ~ span.sheet-aspell2,
.sheet-spell8:checked ~ span.sheet-aspell3,
.sheet-spell8:checked ~ span.sheet-aspell4,
.sheet-spell8:checked ~ span.sheet-aspell5,
.sheet-spell8:checked ~ span.sheet-aspell6,
.sheet-spell8:checked ~ span.sheet-aspell7,
.sheet-spell8:checked ~ span.sheet-aspell8,
.sheet-spell9:checked ~ span.sheet-aspell1,
.sheet-spell9:checked ~ span.sheet-aspell2,
.sheet-spell9:checked ~ span.sheet-aspell3,
.sheet-spell9:checked ~ span.sheet-aspell4,
.sheet-spell9:checked ~ span.sheet-aspell5,
.sheet-spell9:checked ~ span.sheet-aspell6,
.sheet-spell9:checked ~ span.sheet-aspell7,
.sheet-spell9:checked ~ span.sheet-aspell8,
.sheet-spell9:checked ~ span.sheet-aspell9,
.sheet-spell1:checked ~ input.sheet-aspell1,
.sheet-spell2:checked ~ input.sheet-aspell1,
.sheet-spell2:checked ~ input.sheet-aspell2,
.sheet-spell3:checked ~ input.sheet-aspell1,
.sheet-spell3:checked ~ input.sheet-aspell2,
.sheet-spell3:checked ~ input.sheet-aspell3,
.sheet-spell4:checked ~ input.sheet-aspell1,
.sheet-spell4:checked ~ input.sheet-aspell2,
.sheet-spell4:checked ~ input.sheet-aspell3,
.sheet-spell4:checked ~ input.sheet-aspell4,
.sheet-spell5:checked ~ input.sheet-aspell1,
.sheet-spell5:checked ~ input.sheet-aspell2,
.sheet-spell5:checked ~ input.sheet-aspell3,
.sheet-spell5:checked ~ input.sheet-aspell4,
.sheet-spell5:checked ~ input.sheet-aspell5,
.sheet-spell6:checked ~ input.sheet-aspell1,
.sheet-spell6:checked ~ input.sheet-aspell2,
.sheet-spell6:checked ~ input.sheet-aspell3,
.sheet-spell6:checked ~ input.sheet-aspell4,
.sheet-spell6:checked ~ input.sheet-aspell5,
.sheet-spell6:checked ~ input.sheet-aspell6,
.sheet-spell7:checked ~ input.sheet-aspell1,
.sheet-spell7:checked ~ input.sheet-aspell2,
.sheet-spell7:checked ~ input.sheet-aspell3,
.sheet-spell7:checked ~ input.sheet-aspell4,
.sheet-spell7:checked ~ input.sheet-aspell5,
.sheet-spell7:checked ~ input.sheet-aspell6,
.sheet-spell7:checked ~ input.sheet-aspell7,
.sheet-spell8:checked ~ input.sheet-aspell1,
.sheet-spell8:checked ~ input.sheet-aspell2,
.sheet-spell8:checked ~ input.sheet-aspell3,
.sheet-spell8:checked ~ input.sheet-aspell4,
.sheet-spell8:checked ~ input.sheet-aspell5,
.sheet-spell8:checked ~ input.sheet-aspell6,
.sheet-spell8:checked ~ input.sheet-aspell7,
.sheet-spell8:checked ~ input.sheet-aspell8,
.sheet-spell9:checked ~ input.sheet-aspell1,
.sheet-spell9:checked ~ input.sheet-aspell2,
.sheet-spell9:checked ~ input.sheet-aspell3,
.sheet-spell9:checked ~ input.sheet-aspell4,
.sheet-spell9:checked ~ input.sheet-aspell5,
.sheet-spell9:checked ~ input.sheet-aspell6,
.sheet-spell9:checked ~ input.sheet-aspell7,
.sheet-spell9:checked ~ input.sheet-aspell8,
.sheet-spell9:checked ~ input.sheet-aspell9{
    display:inline-block !important;
    text-align:center;
}
span.sheet-aspell0{
    text-align:center;
}
.sheet-tab-container{
    position:relative;
    display:grid;
    grid-area:tab-container;
    grid-template-columns:[tab-button-start page-start] 160px [tab-button-end] 780px [page-end];
    grid-template-rows:[tab-button-start page-start] 20px [tab-button-end] 870px [page-end];
    justify-items:start;
}
.sheet-tab-button,
.sheet-tab-button + span {
	position:absolute;
}
input[type=radio].sheet-tab-button.sheet-core,
input[type=radio].sheet-tab-button.sheet-core + span {
	left: 0px;
	width: 42px;
}
input[type=radio].sheet-tab-button.sheet-spells,
input[type=radio].sheet-tab-button.sheet-spells + span {
	left: 49px;
	width: 62px;
	display:none;
}
div.sheet-spells{
    display:none;
}
input[type=radio].sheet-tab-button.sheet-options,
input[type=radio].sheet-tab-button.sheet-options + span {
    left:49px;
	width: 20px;
	font-family:Pictos !important;
}
.sheet-is-caster:checked ~ input[type=radio].sheet-tab-button.sheet-spells,
.sheet-is-caster:checked ~ input[type=radio].sheet-tab-button.sheet-spells + span{
    display:block;
}
.sheet-is-caster:checked + div.sheet-spells{
    display:flex;
    flex-wrap:wrap;
}
.sheet-is-caster:checked ~ input[type=radio].sheet-tab-button.sheet-options,
.sheet-is-caster:checked ~ input[type=radio].sheet-tab-button.sheet-options + span {
    left:118px;
	width: 20px;
	font-family:Pictos !important;
}
input[type=radio].sheet-tab-button {
	opacity: 0;
	top:20px;
	height:20px;
	z-index: 2;
}
.sheet-tab-button + span {
	height: 20px;
	top:20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #404040;
	color: white;
	text-align: center;
	font-weight: bold;
}
.sheet-tab-button:checked + span {
    background-color:#333398;
}
input[type=radio]:hover + span,
input[type=radio]:hover + h1 {
	color: #f86f1a;
}
.sheet-page {
	display: none;
	grid-area:page;
}
input[type=radio].sheet-tab-button.sheet-core:checked ~ .sheet-page.sheet-core,
input[type=radio].sheet-tab-button.sheet-bio:checked ~ .sheet-page.sheet-bio,
input[type=radio].sheet-tab-button.sheet-abilities:checked ~ .sheet-page.sheet-abilities,
input[type=radio].sheet-tab-button.sheet-spells:checked ~ .sheet-page.sheet-spells,
input[type=radio].sheet-tab-button.sheet-options:checked ~ .sheet-page.sheet-options {
	display:grid;
}
.sheet-page.sheet-core {
    grid-template-columns:[attribute-start skills-start initiative-start] 245px [attribute-end initiative-end] 20px [health-start] 5px [skills-end] 20px [weapons-start equipment-start] 147px [health-end] 20px [armor-start] 93px [weapons-end equipment-end] 20px [abilities-start] 68px [armor-end] 20px [saves-start] 182px [saves-end abilities-end];
    grid-template-rows:[initiative-start] 20px [initiative-end] 20px [attribute-start armor-start saves-start health-start] 200px [health-end attribute-end armor-end saves-end] 40px [skills-start abilities-start weapons-start] 450px [weapons-end] 40px [equipment-start] 320px [abilities-end equipment-end skills-end];
    grid-gap:0px;
    align-items:start;
}
.sheet-initiative-container,
.sheet-section-container {
	display: flex;
	flex-wrap:wrap;
    justify-content:flex-end;
    align-items:flex-start;
    align-content:flex-start;
    position:relative;
    width:100%
}
.sheet-attribute-container {
    grid-area:attribute;
    height:100%;
}
.sheet-ac-container {
    grid-area:armor;
    height:100%;
}
.sheet-saving-container {
    grid-area:saves;
    height:100%;
}
.sheet-equipment {
    grid-area:equipment;
    min-height:320px;
    width:100%;
}
.sheet-abilities-container {
    grid-area:abilities;
    min-height:100%;
    width:100%;
    justify-content:center;
}
.sheet-initiative-container button{
    background-image:url('https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/533e5c9f/Selected%20Starfinder%20Header.png')!important;
    position:relative!important;
    left:0px;
    top:0px;
    font-size:10px !important;
    color:white;
}
.sheet-initiative-container {
    display:flex;
    align-content:flex-start !important;
    justify-content:flex-start !important;
    height:20px;
    width:250px;
    grid-area:initiative;
}
.sheet-health-resolve-container {
    grid-area:health;
    height:100%;
}
.sheet-health-container {
    display:inline-grid !important;
    grid-template-columns:[label-start]40px[label-end current-start]50px[current-end slash-start] 10px [slash-end max-start] 50px [max-end];
    grid-template-rows:[stamina-start]45px[stamina-end hp-start]45px[hp-end rp-start]45px[rp-end temp-start]45px[temp-end];
}
.sheet-saving-container,
.sheet-attribute-container,
.sheet-ac-container{
    display:inline-block;
}
.sheet-current,
.sheet-health-container .sheet-attr-total-container,
.sheet-max,
.sheet-slash,
.sheet-health-label {
    text-align:center;
    width:100% !important;
}
.sheet-health-label {
    font-size:12pt !important;
    font-color:black;
}
.sheet-current,
.sheet-max,
.sheet-slash {
    font-size:10pt !important;
}
.sheet-health-label {
    margin:auto 0px;
    grid-column-start: label-start;
    grid-column-end:   label-end;
}
.sheet-current {
    margin:auto 0px;
    grid-column-start: current-start;
    grid-column-end:   current-end;
}
.sheet-slash {
    margin:auto 0px;
    grid-column-start: slash-start;
    grid-column-end:   slash-end;
}
.sheet-health-container .sheet-attr-total-container {
    margin:auto 0px;
    grid-column-start: max-start;
    grid-column-end:   max-end;
}
.sheet-stamina {
    grid-row-start:stamina-start;
    grid-row-end:stamina-end;
}
.sheet-hp {
    grid-row-start:hp-start;
    grid-row-end:hp-end;
}
.sheet-resolve {
    grid-row-start:rp-start;
    grid-row-end:rp-end;
}
.sheet-temp {
    grid-row-start:temp-start;
    grid-row-end:temp-end;
}
.sheet-weapons {
    grid-area:weapons;
    display:flex;
    justify-content:flex-start !important;
    height:100%;
}
.sheet-skills-container {
    grid-area:skills;
    position:relative;
    min-height:810px;
}
.sheet-armor-container,
.sheet-attr-container,
.sheet-save-container,
.sheet-init-container,
.sheet-health-container{
    width:100%;
	margin:5px 0px 0px 0px;
	padding:0px;
	display: flex;
    justify-content:space-between;
    align-content:flex-start;
}
.sheet-skill-container:nth-child(2),
.sheet-save-container:nth-child(2),
.sheet-skill-container .sheet-display{
    display:flex !important;
    justify-content:flex-end !important;
    margin-right:5px;
    align-items:center;
}
.sheet-skill-container .sheet-display button{
    width:90px;
}
.sheet-save-container:nth-child(2) .sheet-abi{
    margin-right:15px !important;
}
.sheet-attr-container .sheet-button{
    width:90px;
	top:0px;
	z-index:1;
}
.sheet-attr-container span {
	top:0px;
	display:inline;
	text-align:center;
}
.sheet-attr-container .sheet-mod {
    width:20px;
}
.sheet-attr-total-container{
    position:relative;
    padding:0px;
}
.sheet-base-attr,
.sheet-base-attr ~ .sheet-modified-attr{
    position:absolute;
}
.sheet-base-attr {
    opacity:0;
    z-index:2;
}
.sheet-attr-container .sheet-base-attr {
    top:0px;
    left:-5px;
}
.sheet-modified-attr {
    text-align:center;
    display:block;
}
.sheet-attr-container .sheet-modified-attr {
    border-bottom:1px solid #D3D3D3;
    top:-4px !important;
    left:-10px !important;
}
.sheet-base-attr:focus{
    opacity:100;
}
.sheet-base-attr:focus ~ .sheet-modified-attr{
    opacity:0;
}
.sheet-attr-container .sheet-attr-total-container,
.sheet-attr,
.sheet-enh,
.sheet-pen,
.sheet-drain {
	width:30px !important;
	margin-left:5px;
}
.sheet-attribute-container span {
	text-align:center;
}
.sheet-armor-container span,
.sheet-armor-container select,
.sheet-save-container span,
.sheet-save-container select{
	height:15px;
}
.sheet-ac {
	display:inline;
	text-align:left;
	width:20px;
	margin-right:5px !important;
}
.sheet-arith {
    width:10px !important;
    font-weight:bold;
}
.sheet-tot,
.sheet-base {
	display:block;
	width:37px !important;
	text-align:center !important;
}
.sheet-ranks{
    width:30px !important;
}
span.sheet-ranks{
    width:45px !important;
}
.sheet-skill-span{
    margin:0px 5px;
}
.sheet-skill-options .sheet-row {
    display:flex;
    justify-content:flex-start;
}
.sheet-arm {
	display:block;
	width:40px;
	margin-right:5px;
	text-align:center !important;
}
.sheet-abi {
    display:block;
    width:30px !important;
    margin:0px 5px !important;
}
.sheet-misc {
	text-align:center !important;
	width:80px !important;
}
.sheet-dr {
	width:80px;
}
span.sheet-resist {
	margin-right:5px;
}
.sheet-armor-container textarea {
	height:63px;
	max-height:63px;
	width:170px;
	max-width:170px;
}

.sheet-save-container textarea {
    height:77px;
    max-height:77px;
	width:170px;
	max-width:170px;
	margin-left:5px;
}
.sheet-health-resolve-container span,
.sheet-ac-container span {
	display:block;
}
.sheet-no-sp:checked ~ .sheet-health-resolve-container {
    box-shadow:0px 0px 20px #fa893a;
}
.sheet-no-hp:checked ~ .sheet-health-resolve-container {
    box-shadow:0px 0px 40px #fa893a, 0px 0px 20px red;
}
.sheet-no-rp:checked ~ .sheet-health-resolve-container {
    box-shadow:0px 0px 40px red,0px 0px 60px black;
}
.sheet-save-container button {
	width:25px;
}
/*Equipment Styling*/
.sheet-bulk-container input,
.sheet-wealth input {
    text-align:center;
    border-bottom:0px !important;
    color:inherit !important;
    cursor:text;
}
.sheet-bulk-container,
.sheet-credits-container{
    height:35px;
    margin-bottom:5px;
    padding:0px 2px;
    border: 1px solid #276fad;
    border-radius:3px;
    position:relative;
    text-align:center;
}
.sheet-bulk-container .sheet-number,
.sheet-bulk-container .sheet-label,
.sheet-credits-container .sheet-number,
.sheet-credits-container .sheet-label {
    display:inline-block;
    width:100%;
}
.sheet-equip-info-container *{
    width:92px;
}
.sheet-equip-info-container{
    width:97px;
    padding:0px;
    margin:5px;
}
.sheet-credits-container input {
    width:78px !important;
}
.sheet-item-container {
    position:relative;
    width:150px;
}
.sheet-item-name-col {
    width:100%;
    height:15px;
    text-align:center;
    display:block;
    margin-right:5%;
    border-bottom:1px solid black;
}
.sheet-summary {
    width:100%;
    display:flex;
    justify-content:space-between;
}
.repcontainer[data-groupname='repeating_item']  .repitem {
    position:relative;
    width:125px;
    padding:0px;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}
.repcontainer[data-groupname='repeating_item']  .repitem .sheet-display,
.repcontainer[data-groupname='repeating_item']  .repitem .sheet-display input {
    width:100%;
}
.repcontainer[data-groupname='repeating_item'] {
    display:inline-block;
    width:100%;
    padding:0px;
    margin-top:5px;
    overflow-x:hidden;
}
.sheet-item .sheet-show-options {
    position:absolute;
    top:0px;
    left:110px;
}
.sheet-item *,
.sheet-attack *{
    padding:0px;
    margin:0px;
}
.sheet-item-name {
    width:80px !important;
}
.sheet-item-bulk {
    width: 10% !important;
    text-align:center;
}
.sheet-item-cost {
    width:20% !important;
}
.sheet-item-quantity {
    width:10% !important;
    text-align:center;
}
.sheet-item-equip {
    width:7em;
}
.sheet-item-description {
    width:100%;
    max-width:100%;
    height:3em;
    z-index:1;
}
span.sheet-buff-mod,
span.sheet-item-mods,
h1.sheet-item-mods{
    position:absolute;
    left:0px;
    top:0px;
}
span.sheet-buff-mod,
span.sheet-item-mods{
    background-color:white;
}
/*ability styling*/
.sheet-ability-options .sheet-row{
    display:flex;
}
.sheet-ability .sheet-row,
.sheet-ability .sheet-field-container .sheet-row{
    justify-content:flex-start;
}
.sheet-ability .sheet-row .sheet-attr-total-container .sheet-ability-uses,
.sheet-ability .sheet-row .sheet-attr-total-container{
    width:100px !important;
}
.sheet-abilities-container .repcontrol{
    width:100%;
}
.repcontainer[data-groupname='repeating_ability'],
.sheet-ability-header{
    width:90%;
}
.repcontainer[data-groupname='repeating_ability'] .repitem{
    width:100%;
    margin:5px 0px 0px;
    float:left;
}
.sheet-ability .sheet-display{
    display:flex;
    justify-content:flex-start;
}
.sheet-ability-header .sheet-abi-name-col{
    margin-left:7px;
}
.sheet-abi-name-col{
    width:90px;
    text-align:center;
    background-color:#333398 !important;
    color:white;
}
.sheet-abi-dc-col{
    width:40px;
    text-align:center;
    background-color:#333398 !important;
    color:white;
}
.sheet-abi-effect-col{
    width:90px;
    text-align:center;
    background-color:#333398 !important;
    color:white;
}
.sheet-ability .sheet-display .sheet-summary,
.sheet-ability-header{
    overflow:hidden;
    display:flex;
    justify-content:space-between;
}
.sheet-ability .sheet-display .sheet-summary{
    margin:0px;
    padding:0px;
    width:250px;
}
.sheet-abi-dmg-dice{
    text-align:center;
}
.sheet-save-dc{
    margin-left:5px;
}
.sheet-save-type{
    width:6.5em;
}
.sheet-freq-check{
    display:none !important;
}
.sheet-at-will:checked ~ .sheet-at-will,
.sheet-daily-limit:checked ~ .sheet-daily-limit{
    display:block !important;
}
.sheet-abi-cost{
    width:200px;
}
textarea.sheet-abi-description{
    width:100%;
    max-width:100%;
    min-width:100%;
    height:2.5em;
    min-height:2.5em;
}
.sheet-field-container{
    position:relative;
}
.sheet-filter-container,
.sheet-field-container .sheet-row,
.sheet-field-tab ~ textarea{
    display:none;
}
.sheet-atk-tab,
.sheet-dmg-tab{
    width:20px;
}
.sheet-save-effect-tab{
    width:75px;
}
.sheet-mods-tab{
    width:30px;
}
.sheet-macro-tab{
    width:40px;
}
.sheet-field-tab + .sheet-item-mods{
    position:relative;
}
.sheet-mods-tab:checked + .sheet-item-mods{
    width:35px;
    position:absolute;
}
.sheet-mods-tab:checked{
    width:35px;
    height:18px;
}
.sheet-field-container{
    display:inline !important;
}
.sheet-field-tab{
    z-index:10;
}
.sheet-field.sheet-label{
    display:inline;
}
.sheet-field-tab{
    position:absolute;
    left:0px;
    top:0px;
    opacity:0;
    padding:1px;
}
.sheet-filter:checked + .sheet-filter-container{
    display:block;
}
.sheet-field-tab:checked ~ .sheet-field.sheet-row{
    display:flex;
}
.sheet-field-tab:checked ~ textarea{
    display:inline-block;
}
span.sheet-field{
    color:white;
    background-color:gray;
    border-radius:2px;
    padding:1px;
}
.sheet-field-tab:checked + .sheet-field:not(.sheet-item-mods){
    display:block;
    text-align:center;
    width:100%;
}
.sheet-field-tab:not(.sheet-mods-tab):checked{
    width:100%;
    height:18px;
}
.sheet-field-tab:checked + .sheet-field-container{
    display:block !important;
    width:235px;
}
/*Spell Styling*/
.sheet-spells-container .sheet-column-1{
    width:552px;
    max-width:552px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:flex-start;
    align-items:flex-start;
}
.sheet-spells-container .sheet-column-2{
    width:266px;
    position:absolute;
    top:0px;
    left:573px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:flex-start;
    align-items:flex-start;
}
.sheet-spells-per-day-container{
    width:552px;
    max-width:552px;
    height:140px !important;
    margin-bottom:40px;
    padding:0px 5px 0px 0px;
    justify-content:flex-start;
}
.sheet-spells-per-day-container .sheet-overflow-container{
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    border:0px transparent;
    border-radius:8px;
    margin-right:5px;
    display:flex;
    justify-content:flex-start;
    align-content:flex-start;
}
.sheet-spellclass-details{
    width:100%;
    height:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    display:flex;
    justify-content:flex-start;
}
.sheet-spell-column{
    width:266px;
}
.sheet-spell-column .sheet-section-container,
.sheet-spells-container .sheet-column-2 .sheet-section-container{
    min-height:140px;
    margin-bottom:40px;
}
/* End spell styling */
.sheet-weapons .repcontrol .repcontrol_add:before,
.sheet-item-container .repcontrol .repcontrol_add:before,
.sheet-buffs .repcontrol .repcontrol_add:before,
.sheet-abilities-container .repcontrol .repcontrol_add:before,
.sheet-weapons .repcontrol .repcontrol_edit:after,
.sheet-item-container .repcontrol .repcontrol_edit:after,
.sheet-buffs .repcontrol .repcontrol_edit:after,
.sheet-abilities-container .repcontrol .repcontrol_edit:after{
    position:relative;
    left:-10px;
    top:0px;
}
.sheet-buffs .repcontrol .repcontrol_add {
    position:absolute;
    left:5px;
    top:0px;
}
.sheet-buffs .repcontrol .repcontrol_edit {
    position:absolute;
    left:5px;
    top:90px;
}
/*buff styling*/
.repcontainer[data-groupname='repeating_buff'] {
    width:350px;
    margin-left:25px;
    max-height:115px !important;
    overflow-y:scroll;
    overflow-x:hidden;
}
.repcontainer[data-groupname='repeating_buff'] .repitem{
    width:160px;
    margin:5px 0px 0px;
    float:left;
}
.sheet-buff-options .sheet-buff-name{
    width:160px;
    margin:5px 0px;
}
.sheet-mod-container {
    position:relative;
    margin:0px;
}
textarea.sheet-buff-mod,
textarea.sheet-item-mods{
    width:100%;
    height:40px;
    margin:0px;
    text-indent:50px;
    max-width:100%;
    overflow-y:hidden;
    overflow-x:hidden;
}
.sheet-display .sheet-buff-name {
    display:block;
    width:145px;
    float:right;
    background:#D3D3D3;
}
input[type=checkbox]:checked +.sheet-buff-name {
    background:#2dafeb;
    color:white;
}
.sheet-show-options,
.sheet-show-options + span {
    top:0px !important;
}
/*Repeating styling*/
.repcontrol {
	min-height: 27px;
}
.repcontrol .btn {
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
    font-size: 0;
    width: 1em;
}
.repcontrol .btn:focus {
	outline: 0;
}
.repcontrol .repcontrol_edit:after {
	content: '(';
	visibility: visible;
	font-family: pictos;
	background-color: #EFEFEF;
	border: 1px solid black;
	border-radius: 2px;
	font-size: 12px;
	height: 12px;
	width: 12px;
	padding: 4px;
	color: black;
	position:absolute;
}
.editmode ~ .repcontrol .repcontrol_edit:after {
	content: ')';
}
.repcontrol .repcontrol_add:before,
.sheet-pseudo-repcontrol span{
	content: '&';
	visibility: visible;
	font-family: pictos;
	background-color: #EFEFEF;
	border: 1px solid black;
	border-radius: 2px;
	font-size: 12px;
	height: 12px;
	width: 12px;
	padding: 4px;
	color: black;
	position:absolute;
}
.repcontrol_add,
.repcontrol_edit{
    z-index:10;
}
.repcontainer[data-groupname='repeating_attack'] .repitem {
    position:relative;
    width:241px;
    padding:0px;
    margin-left:5px;
    margin-top:5px;
    margin-right:5px !important;
}
.repcontainer[data-groupname='repeating_attack'] {
    width:100%;
    height:400px;
    max-height:400px;
    padding:0px;
    margin:5px 0px 0px;
    overflow-y:auto;
    overflow-x:hidden;
}
.repcontainer[data-groupname='repeating_attack'] .repitem .sheet-display {
    width:100%;
    padding:0px;
    margin:0px;
    display:flex;
    justify-content:space-between;
}
.sheet-proficiency{
    width:50%!important;
}
.sheet-weapon-cat,
.sheet-target{
    width:40%!important;
    margin-left:5px;
}
.sheet-weapons .repcontrol {
    width:100%;
}
.repcontrol .repcontrol_edit:hover,
.repcontrol .repcontrol_add:hover
{
	background-color: #EFEFEF;
}
.itemcontrol {
	z-index: 10;
}
.itemcontrol .repcontrol_del {
	font-size: 10px;
	margin-top: 3px;
	padding: 0px;
	height: 18px;
	width: 18px;
    font-family:pictos;
	content:'#';
}
.itemcontrol .repcontrol_move {
	font-size: 10px;
	margin-top: 3px;
	padding: 0px;
	height: 18px;
	width: 18px;
}
.sheet-show-options{
	opacity: 0;	
	position: absolute;
	top: -5px;
	right: 0px;
	width: 18px;
	height: 18px;
	z-index: 6;
}
 
.sheet-show-options + span
{
	position: absolute;
	top: -5px;
	right: 0px;
	white-space: nowrap;
	width: 18px;
	height: 18px;
	font-size: 20px;
	font-family: pictos;
	color: #A0A0A0;
	cursor: pointer;
	margin-top: 0px;
	display: none;
	z-index:5;
}
 
.sheet-attack:hover .sheet-show-options:checked + span,
.sheet-spell:hover .sheet-show-options:checked + span,
.sheet-item:hover .sheet-show-options:checked + span,
.sheet-npc .sheet-npc_show-options:checked + span,
.sheet-buff:hover .sheet-show-options:checked + span,
.sheet-ability:hover .sheet-show-options:checked + span,
.sheet-equipment .sheet-inventorysubflag:checked + span,
.sheet-skill-container:hover .sheet-show-options:checked +span{
	color: black;
	display: block;
}
 
.sheet-attack:hover .sheet-show-options + span,
.sheet-spell:hover .sheet-show-options + span,
.sheet-item:hover .sheet-show-options + span,
.sheet-npc:hover > .sheet-npc_show-options + span,
.sheet-buff:hover .sheet-show-options + span,
.sheet-ability:hover .sheet-show-options + span,
.sheet-item:hover .sheet-inventorysubflag + span,
.sheet-skill-container:hover .sheet-show-options + span{
	display: block;
}
.sheet-atk-options,
.sheet-item-options,
.sheet-buff-options,
.sheet-skill-options,
.sheet-ability-options,
.sheet-spell-options{
	display:none;
}
.sheet-attack .sheet-show-options:checked ~ .sheet-atk-options,
.sheet-spell .sheet-show-options:checked ~ .sheet-spell-options,
.sheet-item .sheet-show-options:checked ~ .sheet-item-options,
.sheet-npc .sheet-npc_show-options:checked ~ .sheet-npc_options,
.sheet-buff .sheet-show-options:checked ~ .sheet-buff-options,
.sheet-ability .sheet-show-options:checked ~ .sheet-ability-options,
.sheet-skill-container .sheet-show-options:checked ~ .sheet-skill-options{
	display: inherit;
}
button input{
	border-bottom:0px !important;
	font-size:7pt;
	line-height:7pt;
	z-index:-2;
	text-align:center;
	cursor:pointer;
}
.sheet-init-container {
    width:280px;
}
.sheet-health-container input[readonly=true] {
    border-bottom:1px solid transparent;
}
.sheet-attack-header {
    display:flex;
    justify-content:space-between;
    padding-left:2px;
    width:239px;
}
.sheet-atk-name-col {
    display:block;
	width:121px;
	background-color:#333398 !important;
	text-align:center;
	color:white;
}
.sheet-atk-mod-col{
	width:34px;
	background-color:#333398;
	text-align:center;
	color:white;
}
.sheet-atk-dmg-col {
    background-color:#333398;
	width:77px;
	text-align:center;
	color:white;
}
.sheet-attack .sheet-atk-options .sheet-row {
    width:100%;
    padding:0px;
    margin:0px;
    display:flex;
    justify-content:flex-start;
}
.sheet-attack .sheet-atk-options .sheet-row input {
    margin:0px 5px;
}
.sheet-atk-name {
    width:130px;
}
.sheet-atk-level{
    width:20px;
}
.sheet-atk-type,
.sheet-atk-crit{
	width:60px !important;
}
.sheet-bab {
    width:20px;
    border-bottom:0px !important;
    text-align:center;
}
.sheet-atk,
.sheet-atk-damage,
.sheet-atk-usage,
.sheet-atk-special,
.sheet-atk-misc{
	width:60px !important;
}
.sheet-atk-range,
.sheet-dmg-dice{
	width:40px !important;
}
.sheet-atk-description {
	height:2.5em;
	max-width:270px;
}
.sheet-cs {
	opacity:0;
	position:absolute;
}
.sheet-class-skill {
    width:10px;
    display:flex;
    justify-content:center;
    align-content:center;
}
.sheet-acp{
    position:relative;
    top:3px;
}
.sheet-acp:checked + button:before {
    content:'b'!important;
    font-family:Pictos Three;
    position:absolute;
    color:black;
    text-shadow:none;
    left:-10px;
}
.sheet-skill-container > * {
    margin: auto 0px;
}
.sheet-skill-container .sheet-abi,
.sheet-skill-container .sheet-display .sheet-abi{
    margin-right:20px !important;
}
.sheet-class-skill * {
    margin:auto !important;
}
.sheet-skill-container .sheet-label.sheet-tot {
    width:55px !important;
}
.sheet-skill-container .sheet-display .sheet-mod{
    width:30px;
}
.sheet-skill-container .sheet-display button {
    
}
.sheet-skill-description{
    max-width:100%;
    height:4em;
}
.sheet-class-skill input[type=checkbox] {
	z-index:2;
}
.sheet-class-skill input[type=checkbox]:checked {
	opacity:0;
}
.sheet-class-skill input[type=checkbox]:checked ~ .sheet-cs {
	opacity:100;
}
.sheet-skill-container{
    position:relative;
    margin:0px 0px 5px;
}
.sheet-skill-container .sheet-skill-options{
    /*background-color:rgba(84, 84, 255,1);*/
    border-radius:5px;
    box-shadow:0px 0px 5px #2dafeb,0px 0px 20px #0a4ba1;
    z-index:2;
}
.sheet-skill-container,
.sheet-skill-options,
.sheet-skill-container .sheet-display{
    width:100%;
}
.repcontainer[data-groupname='repeating_profession'] {
    position:relative;
}
.repcontainer[data-groupname='repeating_profession'] .sheet-skill-container {
    background-color:white;
}
.sheet-skills-container .repcontrol .repcontrol_add{
    position:relative;
    left:5px;
}
.sheet-skills-container .repcontrol .repcontrol_edit{
    position:relative;
    left:-5px !important;
}
.sheet-profession-name{
    width:100%;
    text-align:left !important;
}
button .sheet-profession-name{
    
}
.sheet-skills-container .repcontrol .repcontrol_edit:after,
.sheet-skills-container .repcontrol .repcontrol_add:before{
    position:relative;
    left:-8px;
    top:3px;
}
.sheet-skill-fieldset{
    position:relative;
    width:100%;
    padding:0px;
}
.sheet-profession-placeholder{
    position:absolute;
    top:5px;
    left:0px;
    color:gray;
    width:100%;
    text-align:center;
}
.sheet-prof-name {
    position:absolute;
    width:30px;
    left:80px;
}
.sheet-encumbered:checked ~ .sheet-encumber {
    color:white !important;
    background-color:#333398;
}
.sheet-overburdened:checked ~ .sheet-overburden {
    color:white !important;
    background-color:#333398;
}
.sheet-mod-buff:checked ~ .sheet-modified-attr {
    color:#2dafeb;
    font-weight:900 !important;
    font-family:Aldrich,Copperplate !important;
}
.sheet-mod-buff:checked ~ .sheet-modified-attr:after{
    font-family:Pictos;
    position:absolute;
    content:'{';
}
.sheet-mod-debuff:checked ~ .sheet-modified-attr {
    color:#fa893a;
    font-weight:900 !important;
    font-family:Aldrich,Copperplate !important;
}
.sheet-mod-debuff:checked ~ .sheet-modified-attr:after{
    font-family:Pictos;
    position:absolute;
    content:'@' !important;
}
/*############################################################ ROLL TEMPLATES ############################################################*/
.sheet-rolltemplate-sf_generic,
.sheet-rolltemplate-sf_attack,
.sheet-rolltemplate-sf_spell {
    display:grid;
    grid-template-columns:[header-start body-start] 10px [footer-start] 1fr [header-end] 10px [body-end footer-end];
    margin:0px;
    padding:0px;
    border:0px;
}
.sheet-rolltemplate-sf_generic *,
.sheet-rolltemplate-sf_attack *,
.sheet-rolltemplate-sf_spell *{
    font-family:Aldrich;
    color:white;
}
.sheet-rolltemplate-sf_generic .inlinerollresult,
.sheet-rolltemplate-sf_attack .inlinerollresult,
.sheet-rolltemplate-sf_spell .inlinerollresult{
    background-color:transparent;
    border:0px transparent !important;
    font-weight:700;
    font-size:13pt;
    text-shadow:0px 0px 10px #49f5ff,0px 0px 20px #6bf7ff;
    line-height:1.4em;
}
.sheet-rolltemplate-sf_generic a[href^="!"],
.sheet-rolltemplate-sf_attack a[href^="!"],
.sheet-rolltemplate-sf_spell a[href^="!"],
.sheet-rolltemplate-sf_generic a[href^="~"],
.sheet-rolltemplate-sf_attack a[href^="~"],
.sheet-rolltemplate-sf_spell a[href^="~"],
.sheet-rolltemplate-sf_generic a[href^="https"],
.sheet-rolltemplate-sf_attack a[href^="https"],
.sheet-rolltemplate-sf_spell a[href^="https"]{
    background-color:transparent !important;
    border:0px transparent !important;
    color:white;
    text-shadow:0px 0px 10px #49f5ff,0px 0px 20px #6bf7ff;
}
.sheet-rolltemplate-sf_generic a[href^="!"]:hover,
.sheet-rolltemplate-sf_attack a[href^="!"]:hover,
.sheet-rolltemplate-sf_spell a[href^="!"]:hover,
.sheet-rolltemplate-sf_generic a[href^="~"]:hover,
.sheet-rolltemplate-sf_attack a[href^="~"]:hover,
.sheet-rolltemplate-sf_spell a[href^="~"]:hover,
.sheet-rolltemplate-sf_generic a[href^="https"]:hover,
.sheet-rolltemplate-sf_attack a[href^="https"]:hover,
.sheet-rolltemplate-sf_spell a[href^="https"]:hover{
    text-shadow:0px 0px 10px #f86f1a,0px 0px 20px #fc6507;
}
.sheet-rolltemplate-sf_generic .inlinerollresult.fullcrit,
.sheet-rolltemplate-sf_attack .inlinerollresult.fullcrit,
.sheet-rolltemplate-sf_spell .inlinerollresult.fullcrit{
    color:#00ffb3;
    text-shadow:0px 0px 10px #46fcc6,0px 0px 20px #00b27d;
}
.sheet-rolltemplate-sf_generic .inlinerollresult.fullcrit:after,
.sheet-rolltemplate-sf_attack .inlinerollresult.fullcrit:after,
.sheet-rolltemplate-sf_spell .inlinerollresult.fullcrit:after{
    font-family:Pictos;
    content:'{';
}
.sheet-rolltemplate-sf_generic .inlinerollresult.fullfail,
.sheet-rolltemplate-sf_attack .inlinerollresult.fullfail,
.sheet-rolltemplate-sf_spell .inlinerollresult.fullfail{
    color:#ff0000;
    text-shadow:0px 0px 10px #ff8c8c,0px 0px 20px #c66d6d;
}
.sheet-rolltemplate-sf_generic .inlinerollresult.fullfail:before,
.sheet-rolltemplate-sf_attack .inlinerollresult.fullfail:before,
.sheet-rolltemplate-sf_spell .inlinerollresult.fullfail:before{
    font-family:Pictos;
    content:'@';
}
.sheet-rolltemplate-sf_generic .inlinerollresult.importantroll,
.sheet-rolltemplate-sf_attack .inlinerollresult.importantroll,
.sheet-rolltemplate-sf_spell .inlinerollresult.importantroll{
    color:#0015ff;
}
.sheet-rolltemplate-sf_generic .sheet-generic-body,
.sheet-rolltemplate-sf_attack .sheet-generic-body,
.sheet-rolltemplate-sf_spell .sheet-generic-body{
    grid-template-columns:[label-start notes-start] 1fr [label-end roll-start] 1fr [roll-end notes-end];
    background-color:#0e5566;
    display:grid;
    justify-content:center;
    padding:12px 6px;
    margin:0px;
    color:#d3fdff;
    border:0px transparent;
    border-radius:0px 15px 0px 15px;
    box-shadow:0px 0px 10px #49f5ff,0px 0px 20px #6bf7ff;
    grid-column-start:body-start;
    grid-column-end:body-end;
}
.sheet-rolltemplate-sf_generic .sheet-generic-header,
.sheet-rolltemplate-sf_generic .sheet-generic-footer,
.sheet-rolltemplate-sf_attack .sheet-generic-header,
.sheet-rolltemplate-sf_attack .sheet-generic-footer,
.sheet-rolltemplate-sf_spell .sheet-generic-header,
.sheet-rolltemplate-sf_spell .sheet-generic-footer{
    background-color:#0e5566;
    border:0px transparent;
    box-shadow:0px 0px 10px #49f5ff,0px 0px 20px #6bf7ff;
    padding:0px 5px;
    max-width:100%;
    display:inline-block;
    line-height:1.4em;
    font-size:13pt;
}
.sheet-rolltemplate-sf_generic .sheet-generic-header,
.sheet-rolltemplate-sf_attack .sheet-generic-header,
.sheet-rolltemplate-sf_spell .sheet-generic-header{
    border-radius:5px 5px 0px 0px;
    font-weight:700;
    grid-column-start:header-start;
    grid-column-end:header-end;
    justify-self:start;
}
.sheet-rolltemplate-sf_generic .sheet-generic-footer,
.sheet-rolltemplate-sf_attack .sheet-generic-footer,
.sheet-rolltemplate-sf_spell .sheet-generic-footer{
    border-radius:0px 0px 5px 5px;
    margin-left:auto;
    margin-right:0px;
    font-style:italic;
    grid-column:footer-start / footer-end;
    justify-self:end;
}
.sheet-rolltemplate-sf_generic .sheet-highlighted,
.sheet-rolltemplate-sf_attack .sheet-highlighted,
.sheet-rolltemplate-sf_spell .sheet-highlighted{
    border:0px transparent;
    box-shadow:0px 0px 5px #d3fdff,0px 0px 10px #91f9ff;
    padding:3px;
}
.sheet-rolltemplate-sf_generic .sheet-highlighted.sheet-split.sheet-r1name,
.sheet-rolltemplate-sf_attack .sheet-highlighted.sheet-split.sheet-r1name,
.sheet-rolltemplate-sf_spell .sheet-highlighted.sheet-split.sheet-r1name{
    border-radius:5px 0px 0px 5px;
}
.sheet-rolltemplate-sf_generic .sheet-highlighted.sheet-split.sheet-roll,
.sheet-rolltemplate-sf_attack .sheet-highlighted.sheet-split.sheet-roll,
.sheet-rolltemplate-sf_spell .sheet-highlighted.sheet-split.sheet-roll{
    border-radius:0px 5px 5px 0px;
}
.sheet-rolltemplate-sf_generic .sheet-highlighted.sheet-across,
.sheet-rolltemplate-sf_attack .sheet-highlighted.sheet-across,
.sheet-rolltemplate-sf_spell .sheet-highlighted.sheet-across{
    border-radius: 5px;
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}
.sheet-rolltemplate-sf_generic .sheet-r1name,
.sheet-rolltemplate-sf_attack .sheet-r1name,
.sheet-rolltemplate-sf_spell .sheet-r1name{
    grid-column:label-start / label-end;
    display:flex;
    align-content:center;
    align-items:center;
}
.sheet-rolltemplate-sf_generic .sheet-roll,
.sheet-rolltemplate-sf_attack .sheet-roll,
.sheet-rolltemplate-sf_spell .sheet-roll{
    grid-column:roll-start / roll-end;
    display:flex;
    justify-content:flex-end;
    align-content:center;
    align-items:center;
}
.sheet-rolltemplate-sf_generic .sheet-r1name *:nth-child(even),
.sheet-rolltemplate-sf_attack .sheet-r1name *:nth-child(even),
.sheet-rolltemplate-sf_spell .sheet-r1name *:nth-child(even),
.sheet-rolltemplate-sf_generic .sheet-roll *:nth-child(even),
.sheet-rolltemplate-sf_attack .sheet-roll *:nth-child(even),
.sheet-rolltemplate-sf_spell .sheet-roll *:nth-child(even){
    margin-left:5px;
    margin-right:5px;
}
.sheet-rolltemplate-sf_generic .sheet-notes-row,
.sheet-rolltemplate-sf_attack .sheet-notes-row,
.sheet-rolltemplate-sf_spell .sheet-notes-row{
    grid-column:notes-start / notes-end;
}
 /* ########################################################################################################################################*/
