*{
    font-family:arial;
}
.sheet-section.sheet-label {
    font-family:Contrail One;
    font-weight:100;
}
input:not([type='checkbox']):not([type='radio']),
textarea {
    border-bottom: 1px solid #D3D3D3;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    font-size:10pt;
    padding:0px;
    display:inline-block;
}
select {
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding:0px 0px 0px 0px;
    color: black;
    position:relative;
    top:0px;
    width:4em;
    font-size:7pt;
    font-weight:bold;
    text-align:center;
    height:20px !important;
}
button[type=roll] {
    background-color: transparent;
    color: black;
    border: none;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    text-align:left;
    position:relative;
    top:7px;
}
button[type=roll]::before
{
    content: "" !important;
}
button[type=roll]:hover,
button[type=roll]:hover *,
button[type=roll]:hover input[type=text],
button[type=roll]:hover *
{
    color: #e67c42;
}
.sheet-pc,
.sheet-npc {
    display: none;
}
.sheet-npcship_toggle[value="0"] ~ .sheet-pc,
.sheet-npcship_toggle[value="1"] ~ .sheet-npc{
    display: block;
}
.sheet-pc {
    position:relative;
    width:1020px;
}
.sheet-label,
.sheet-mod,
button[type=roll] {
    font-weight:bold;
    font-size:7pt !important;
}
.sheet-section {
    position:relative;
    top:8px;
    background-image:url('https://s3.amazonaws.com/files.d20.io/images/37326746/tkF0BciqbIcg0t6wFzOByw/max.png');
    background-repeat: no-repeat;
    background-size:150px;
    color:white;
    text-align:left;
    text-indent:10px;
    width:150px;
    font-size:10pt !important;
    line-height:12pt;
}
.sheet-section-container {
    padding-bottom:5px;
}
.sheet-top-header {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    width:inherit;
}
.sheet-header {
    margin-left:22px;
}
.sheet-name-container {
    width:200px;
    display: inline-block;
}
.sheet-header-content {
    display:none;
}
.sheet-in-play {
    position:relative;
    margin-left:auto;
    width:373px;
}
.sheet-menu-head {
    position:absolute;
    top:10px;
}
.sheet-buff-head {
    position:absolute;
    top:10px;
    left:143px;
}
.sheet-buff-head,
.sheet-menu-head,
.sheet-char-details,
.sheet-class-details{
    background-image:url('https://cdn.rawgit.com/Kurohyou/Starfinder-Character-Sheet/6221a0fb/starfinder%20unselected%20label%20background.png');
    z-index:1;
}
.sheet-buffs,
.sheet-menus {
    position:absolute;
    top:18px;
    width:360px;
    height:130px;
    display:none;
}
.sheet-header-content,
.sheet-buffs,
.sheet-menus,
.sheet-section-container {
    border:2px groove #26679a;
    border-radius:0px 5px 5px 5px;
    margin-top:5px;
    padding:5px 5px;
}
.sheet-class-details {
    position:absolute;
    left:143px;
}
.sheet-in-play-tab,
.sheet-char-tab{
    opacity:0;
    z-index:10;
}
.sheet-menu-tab {
    position:absolute;
    top:12px;
    width:145px;
}
.sheet-buff-tab {
    position:absolute;
    top:12px;
    left:145px;
    width:145px;
}
.sheet-char-details-tab {
    position:absolute;
    top:10px;
    width:145px;
}
.sheet-class-details-tab {
    position:absolute;
    top:10px;
    width:145px;
    left:145px;
}
input[type=radio].sheet-in-play-tab:checked + span,
input[type=radio].sheet-char-tab:checked + div {
    background-image:url('https://s3.amazonaws.com/files.d20.io/images/37326746/tkF0BciqbIcg0t6wFzOByw/max.png');
    z-index:2;
}
input[type=radio].sheet-in-play-tab.sheet-menu-tab:checked ~ .sheet-menus,
input[type=radio].sheet-in-play-tab.sheet-buff-tab:checked ~ .sheet-buffs {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content:flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;
}
.sheet-section-container input[type="text"] {
    width:10em;
}
.sheet-description {
    position:relative;
    top:5px;
    max-width:200px;
    height:6.5em;
}
.sheet-header input {
    padding: 0px;
}
.sheet-header input[type=number] {
    text-align: center;
    margin-bottom: -9px;
}
.sheet-header input[type=number] {
    -moz-appearance:textfield;
}
.sheet-name-container span,
.sheet-header span {
    display: block;
    font-size: 9px;
    line-height: 12px;
}
.sheet-header .sheet-name-container span.sheet-label {
    text-align: left;
    font-weight: normal;
    margin-top: 0;
}
.sheet-header {
    position:relative;
    height:132px;
    width:385px;
}
input[type=radio].sheet-char-tab.sheet-char-details-tab:checked ~ .sheet-char-info,
input[type=radio].sheet-char-tab.sheet-class-details-tab:checked ~ .sheet-class-info{
    width:inherit;
    height:inherit;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:flex-start;
    -moz-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -moz-align-content:flex-start;
    align-content:flex-start;
    width:inherit;
}
.sheet-hlabel-container {
    display: inline-block;
    margin-right:5px;
    padding-left:5px;
}
.sheet-hlabel-container select {
    padding:-5px;
    margin:0px;
    border-bottom:1px solid #D3D3D3;
}
.sheet-char-name{
    width:375px !important;
}
.sheet-class-level {
    width:100px !important;
}
.sheet-player,
.sheet-home-world {
    width:160px !important;
}
.sheet-theme,
.sheet-deity{
    width:115px !important;
}
.sheet-alignment,
.sheet-race,
.sheet-size {
    width:77px !important;
}
.sheet-speed {
    width:30px !important;
}
.sheet-race-hp {
    width:15px !important;
    text-align:center;
}
.sheet-gender {
    width:60px !important;
}
.sheet-menus button[type=roll] {
    position:relative;
    top:0px;
}
.sheet-tab-button {
    position:absolute;
}
.sheet-tab-container{
    position:relative;
    top:0px;
}
.sheet-class-info span {
    text-align:center;
    display:block;
}
.sheet-class-info input {
    height:20px !important;
}
.sheet-class-name {
    width:80px;
    margin-right:10px;
}
.sheet-class-num-level {
    width:20px;
    margin-right:10px;
}
.sheet-class-health {
    width:10px;
    margin-right:10px;
}
.sheet-class-bab {
    width:25px;
    margin-right:10px;
}
.sheet-class-save {
    width:30px;
    margin-right:10px;
}
.sheet-class-skills {
    width:20px;
    margin-right:10px;
    text-align:center;
}
.sheet-class-ability {
    width:4em;
}
input[type=radio].sheet-tab-button.sheet-core,
input[type=radio].sheet-tab-button.sheet-core + span {
    left: 0px;
    width: 42px;
}
input[type=radio].sheet-tab-button.sheet-bio,
input[type=radio].sheet-tab-button.sheet-bio + span {
    left: 50px;
    width: 38px;
}
input[type=radio].sheet-tab-button.sheet-spells,
input[type=radio].sheet-tab-button.sheet-spells + span {
    left: 93px;
    width: 62px;
}
input[type=radio].sheet-tab-button.sheet-options,
input[type=radio].sheet-tab-button.sheet-options + span {
    width: 25px;
}
input[type=radio].sheet-tab-button {
    opacity: 0;
    width: 18px;
    height: 18px;
    z-index: 2;
}
input[type=radio].sheet-tab-button + span {
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
}
input[type=radio].sheet-item-equip:checked + span,
input[type=radio].sheet-tab-button:checked + span {
    color: #FFFFFF;
    background-color: #1a4b71;
}
.sheet-page {
    display: none;
}
input[type=radio].sheet-tab-button.sheet-core:checked ~ .sheet-page.sheet-core,
input[type=radio].sheet-tab-button.sheet-bio:checked ~ .sheet-page.sheet-bio,
input[type=radio].sheet-tab-button.sheet-spells:checked ~ .sheet-page.sheet-spells,
input[type=radio].sheet-tab-button.sheet-options:checked ~ .sheet-page.sheet-options {
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-content:space-between;
    -moz-align-content:space-between;
    align-content:space-between;
    width:inherit;
}
.sheet-col1 {
    width:290px;
    z-index:1;
}
.sheet-col2 {
    position:relative;
    width:300px;
}
.sheet-col3 {
    width:375px;
}
.sheet-mod {
    float:right;
    position:relative;
    top:-10px;
}
.sheet-ac-container input[type=text],
.sheet-saving-container input[type=text]{
    width:100px !important;
}
.sheet-skill-container {
    grid-area:skills;
}
.sheet-skill-container textarea{
    height:4.5em;
    max-width:350px;
}
.sheet-ac-container textarea,
.sheet-saving-container textarea {
    height:2.5em;
    max-width:250px;
}
.sheet-health-resolve-container input[disabled="true"] {
    border-bottom: 0px;
}
.sheet-health-resolve-container input[type=number] {
    text-align:center;
}
.sheet-health-resolve-container td,
.sheet-ac-container td {
    text-align:center;
}
.sheet-health-resolve-container span,
.sheet-ac-container span {
    display:block;
}
.sheet-attribute-container {
    
    width:215px;
}
.sheet-equipment {
    width:605px;
    min-height:168px;
    position:relative;
}
.sheet-bulk-container {
    width:80px;
    height:35px;
    margin-bottom:5px;
    padding:0px 2px;
    border: 1px solid #276fad;
    border-radius:3px;
    position:relative;
    text-align:center;
}
.sheet-bulk-container .sheet-number,
.sheet-bulk-container .sheet-label,
.sheet-credits-container .sheet-number,
.sheet-credits-container .sheet-label {
    display:inline-block;
    width:80px;
}
.sheet-credits-container {
    width:80px;
    height:56px;
    margin-bottom:5px;
    padding:0px 2px;
    border: 1px solid #276fad;
    border-radius:3px;
    text-align:center;
    position:absolute;
}
.sheet-credits {
    position:absolute;
    top:5px;
    left:96px;
}
.sheet-wealth {
    position:absolute;
    top:68px;
    left:96px;
}
.sheet-credits-container input {
    width:78px !important;
}
.sheet-credits-container .sheet-number,
.sheet-credits-container .sheet-label {
    position:relative;
    top:10px;
}
.sheet-item-container {
    width:405px;
    position:absolute;
    top:5px;
    left:183px;
    margin-left:25px;
}
.sheet-item-name-col {
    width:45%;
    height:15px;
    text-align:center;
    display:block;
    margin-right:5%;
}
.sheet-item-name-container {
    width:405px;
    height:15px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:flex-start;
    -moz-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -moz-align-content:flex-start;
    align-content:flex-start;
}
.repcontainer[data-groupname='repeating_item'] > .repitem {
    position:relative;
    width:182px !important;
    padding:0px;
    margin-right:5px;
    align-self:flex-start;
    -moz-align-self:flex-start;
    -webkit-align-self:flex-start;
}
.repcontainer[data-groupname='repeating_item'] {
    width:405px;
    height:125px;
    overflow-y:auto;
    overflow-x:hidden;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:flex-start;
    -moz-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -moz-align-content:flex-start;
    align-content:flex-start;
}
.sheet-item .sheet-display,
.sheet-item .sheet-show-options {
    position:relative;
    top:-8px;
}
.sheet-item *,
.sheet-attack *{
    padding:0px;
    margin:0px;
}
.sheet-item-name {
    width:80% !important;
}
.sheet-item-bulk {
    width: 10% !important;
    text-align:center;
}
.sheet-item-cost {
    width:20% !important;
}
.sheet-item-quantity {
    width:15% !important;
    text-align:center;
}
.sheet-item-mods {
    width:90% !important;
}
.sheet-item-equip {
    position:absolute;
}
input[type=radio].sheet-item-equip.sheet-equipped,
input[type=radio].sheet-item-equip.sheet-equipped + span {
    left: 0px;
}
input[type=radio].sheet-item-equip.sheet-carried,
input[type=radio].sheet-item-equip.sheet-carried + span {
    left: 25px;
}
input[type=radio].sheet-item-equip.sheet-not-carried,
input[type=radio].sheet-item-equip.sheet-not-carried + span {
    left: 50px;
}
input[type=radio].sheet-item-equip {
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 10;
}
input[type=radio].sheet-item-equip + span {
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
}
.sheet-item-description {
    max-width:182px !important;
    height:3em !important;
    z-index:1;
}
.sheet-item-container .repcontrol .repcontrol_add:before {
    top:5px;
    left:-23px;
}
.sheet-item-container .repcontrol .repcontrol_edit:after {
    left:-23px;
    top:108px;
}
.sheet-attr-container input[type=number],
.sheet-skill-container input[type=number] {
    width:3em;
}
.sheet-init-label,
.sheet-initiative {
    color:white;
}
.sheet-init-misc {
    width:100px !important;
}
.sheet-skill-container input[type=text] {
    width:10em;
}
.sheet-cs {
    opacity:0;
    position:relative;
    z-index:-1;
    top:-7px;
    left:3px;
}
.sheet-skill-container input[type=checkbox] {
    position:relative;
    z-index:2;
    top:10px;
    left:0px;
}
.sheet-skill-container input[type=checkbox]:checked {
    opacity:0;
}
.sheet-skill-container input[type=checkbox]:checked ~ .sheet-cs {
    opacity:100;
}
.sheet-weapons {
    height:471px;
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:flex-start;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-content:flex-start;
    -moz-align-content:flex-start;
    align-content:flex-start;
}
.sheet-atk-name-col {
    width:135px;
    background-color:#dbdbdb;
    text-align:center;
}
.sheet-atk-mod-col{
    width:40px;
    background-color:#dbdbdb;
    text-align:center;
}
.sheet-atk-dmg-col {
    width:90px;
    background-color:#dbdbdb;
    text-align:center;
}
.sheet-attack {
    position:relative;
    width:270px;
}
.sheet-display input {
    border-bottom:0px !important;
    background-color:#dbdbdb !important;
    font-size:7pt;
    line-height:7pt;
    z-index:-2;
    text-align:center;
    cursor:pointer;
}
/*Repeating attack styling*/
.repcontrol {
    min-height: 27px;
}
.repcontrol .btn {
    visibility: hidden;
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
}
.repcontrol .btn:focus {
    outline: 0;
}
.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    background-color: #EFEFEF;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 4px;
    color: black;
    position:absolute;
}
.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}
.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    background-color: #EFEFEF;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 4px;
    color: black;
    position:absolute;
}
.sheet-weapons .repcontrol .repcontrol_add:before {
    top:665px;
    left:5px;
}
.sheet-weapons .repcontrol .repcontrol_edit:after {
    left:256px;
    top:665px;
}
.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    background-color: #EFEFEF;
}
.sheet-resources .repcontrol {
    margin-top: -10px;
}
.itemcontrol {
    z-index: 10;
}
.itemcontrol .repcontrol_del {
    font-size: 10px;
    margin-top: 3px;
    padding: 0px;
    height: 18px;
    width: 18px;
    font-family:pictos;
    content:'#';
}
.itemcontrol .repcontrol_move {
    font-size: 10px;
    margin-top: 3px;
    padding: 0px;
    height: 18px;
    width: 18px;
}
.sheet-attack .sheet-show-options,
.sheet-spell .sheet-show-options,
.sheet-item .sheet-show-options,
.sheet-npc .sheet-npc_show-options,
.sheet-trait .sheet-show-options,
.sheet-action .sheet-show-options,
.sheet-equipment .sheet-inventorysubflag
{
    opacity: 0;    
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    z-index: 6;
}

.sheet-attack .sheet-show-options + span,
.sheet-spell .sheet-show-options + span,
.sheet-item .sheet-show-options + span,
.sheet-npc .sheet-npc_show-options + span,
.sheet-trait .sheet-show-options + span,
.sheet-action .sheet-show-options + span,
.sheet-equipment .sheet-inventorysubflag + span
{
    position: absolute;
    top: 0px;
    right: 0px;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    font-size: 20px;
    font-family: pictos;
    color: #A0A0A0;
    cursor: pointer;
    margin-top: 0px;
    display: none;
    z-index:5;
}

.sheet-attack:hover .sheet-show-options:checked + span,
.sheet-spell:hover .sheet-show-options:checked + span,
.sheet-item:hover .sheet-show-options:checked + span,
.sheet-npc .sheet-npc_show-options:checked + span,
.sheet-trait .sheet-show-options:checked + span,
.sheet-action .sheet-show-options:checked + span,
.sheet-equipment .sheet-inventorysubflag:checked + span
{
    color: black;
    display: block;
}

.sheet-attack:hover .sheet-show-options + span,
.sheet-spell:hover .sheet-show-options + span,
.sheet-item:hover .sheet-show-options + span,
.sheet-npc:hover > .sheet-npc_show-options + span,
.sheet-trait:hover .sheet-show-options + span,
.sheet-action:hover .sheet-npc_show-options + span,
.sheet-item:hover .sheet-inventorysubflag + span
{
    display: block;
}
.sheet-atk-options,
.sheet-item-options{
    display:none;
}
.sheet-attack .sheet-show-options:checked ~ .sheet-atk-options,
.sheet-spell .sheet-show-options:checked ~ .sheet-options,
.sheet-item .sheet-show-options:checked ~ .sheet-item-options,
.sheet-npc .sheet-npc_show-options:checked ~ .sheet-npc_options,
.sheet-trait .sheet-show-options:checked ~ .sheet-options,
.sheet-action .sheet-show-options:checked ~ .sheet-options
{
    display: inherit;
}
.sheet-atk-level,
.sheet-atk-type,
.sheet-atk-crit{
    width:60px !important;
}
.sheet-atk,
.sheet-atk-damage,
.sheet-atk-usage,
.sheet-atk-special{
    width:80px !important;
}
.sheet-atk-range,
.sheet-dmg-dice{
    width:40px !important;
}
.sheet-atk-description {
    height:2.5em;
    max-width:260px;
}
